<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proconomyapp">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProconomyApp">
        <activity
            android:name=".searching"
            android:exported="false" />
        <activity
            android:name=".password_log"
            android:exported="false" />
        <activity
            android:name=".login_mentee"
            android:exported="false" />
        <activity
            android:name=".turn_location"
            android:exported="false" />
        <activity
            android:name=".mentor_availability"
            android:exported="false" />
        <activity
            android:name=".mentee_select_time"
            android:exported="false" />
        <activity
            android:name=".view_calendar"
            android:exported="false" />
        <activity
            android:name=".notification_turn"
            android:exported="false" />
        <activity
            android:name=".mentor_register0"
            android:exported="false" />
        <activity
            android:name=".mentee_3signin"
            android:exported="false" />
        <activity
            android:name=".mentor_3signin"
            android:exported="false" />
        <activity
            android:name=".mentor_register3"
            android:exported="false" />
        <activity
            android:name=".mentee_register4"
            android:exported="false" />
        <activity
            android:name=".mentee_register3"
            android:exported="false" />
        <activity
            android:name=".mentee_register2"
            android:exported="false" />
        <activity
            android:name=".mentee_register"
            android:exported="false" />
        <activity
            android:name=".menteescr"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".mentorscr"
            android:exported="false" />
        <activity
            android:name=".MentorSlide1"
            android:exported="false" />
        <activity
            android:name=".MentorSlide2"
            android:exported="false" />
        <activity
            android:name=".MentorSlide3"
            android:exported="false" />
        <activity
            android:name=".MenteeSlide1"
            android:exported="false" />
        <activity
            android:name=".MenteeSlide2"
            android:exported="false" />
        <activity
            android:name=".MenteeSlide3"
            android:exported="false" />
        <activity
            android:name=".MentorRegister"
            android:exported="false" />
        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
    </application>

</manifest>